@font-face {
	font-family: 'BMHANNA';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/BMHANNA/BMHANNA.eot") format("eot"), url("/fonts/BMHANNA/BMHANNA.woff") format("woff"), url("/fonts/BMHANNA/BMHANNA.woff2") format("woff2"), url("/fonts/BMHANNA/BMHANNA.woff") format("woff"), url("/fonts/BMHANNA/BMHANNA.ttf") format("truetype");
}

@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Ultralight.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Ultralight.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Ultralight.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Thin.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Thin.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Thin.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Light.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Light.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Light.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Regular.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Regular.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Medium.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Medium.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Medium.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Semibold.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Semibold.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Semibold.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Bold.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Bold.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Bold.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Heavy.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Heavy.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Heavy.ttf") format("truetype");
}
@font-face {
	font-family: 'SF Neo Text';
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/SF-Neo-Text/SFNeoText-Black.woff") format("woff"), url("/fonts/SF-Neo-Text/SFNeoText-Black.woff2") format("woff2"), url("/fonts/SF-Neo-Text/SFNeoText-Black.ttf") format("truetype");
}