html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

body {
	/*font-family: 'JHM Pro', sans-serif;*/
	font-family: 'SF Neo Text', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #141519;
	padding: 0;
	margin: 0;
	word-break: keep-all;
	word-wrap: break-word;
	/* overflow: hidden; */
}

@media only screen and (max-width: 760px) {
	html {
		font-size: 80%;
	}
}

input, button {
	font-family: 'SF Neo Text', sans-serif;
	font-weight: 700;
	font-size: 0.8rem;
	outline: none;
}

select {
	font-family: 'SF Neo Text', sans-serif;
	font-weight: 700;
	font-size: .8rem;
}

main {
	margin-bottom: 100px;
	margin-left: 70px;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

textarea {
	outline: none;
	border: none;
	resize: none;
	font-family: inherit;
}

.hidden {
	display: none;
}

.typography-header {
	/* font-family: 'SF Neo Text', sans-serif; */
	font-family: 'SF Neo text';
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

.ap-button-default, .ap-button-red {
	padding: .7rem 1.1rem;
	background-color: #f0f0f0;
	border-radius: 10px;
	border: none;
	font-size: .8rem;
	font-weight: 700;
	outline: none;
	color: inherit;
	cursor: pointer;
	transition: background .1s ease-in-out, transform .1s ease-in-out;
}

.ap-button-default:hover {
	background-color: #e8e8e8;
}

.ap-button-default:active, .ap-button-red:active {
	transform: scale(.95);
}

.ap-button-red {
	background-color: red;
	border-color: red;
	color: #fff;
}

.ap-button-red:hover {
	background-color: #ff5959;
}

/* Table style */
.ap-table {
	font-weight: 400;
}

.action-button-container {
	text-align: right;
	padding: 0;
	margin-bottom: .5rem;
	position: -webkit-sticky;
	position: sticky;
	top: calc(50px + .5rem);
}

.add-multiple {
	margin-left: .2rem;
}

/* Date change */
.date-change {
	text-align: center;
	margin: 0;
	background-color: #fff;
	user-select: none;
	font-size: 0;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	transition: box-shadow .2s ease;
	position: sticky;
	top: 0;
	z-index: 9999;
}

.date-change:hover {
	/* box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); */
}

.date-change > * {
	font-size: initial;
}

.date-change-button-wrapper {
	display: inline-block;
	font-size: 0;
	user-select: none;
}

.date-change-button {
	background: transparent;
	border: none;
	border-radius: 5px;
	color: #222;
	font-size: .8rem;
	font-weight: 700;
	padding: 5px 10px;
	margin: 10px;
	cursor: default;
	user-select: none;
	border: 1px solid transparent;
}

.date-change-button:hover {
	border: 1px solid #dfdfdf;
}

.date-change-button:active {
	background-color: #e9e9e9;
}

.locate-by-date {
	display: block;
	padding-bottom: 10px;
}

.locate-by-date .date-input {
	border: none;
	padding: 8px;
	border-radius: 5px;
	background-color: #f8f8f8;
	cursor: default;
	color: #222;
	transition: background .2s ease;
}

.locate-by-date .date-input::-webkit-input-placeholder {
	color: #222;
}

.locate-by-date .date-input:focus {
	background-color: #f0f0f0;
}

/* Button transform scale effect */
.click-animation {
	transition: transform .1s ease-in-out;
}

.click-animation:active {
	-webkit-transform: scale(.95);
	-moz-transform: scale(.95);
	transform: scale(.95);
}
/* Button transform scale effect */

/* Input Format */
.date-input {
	text-align: center;
}

.phone-number-input {

}
/* Input Format */

/* Known issue */
.known-issue {
	text-align: center;
	color: #fff;

	display: block;
	margin: 0 auto;
}

.known-issue .ki-contents {
	border-radius: 15px;
	margin: 20px;
	padding: 20px;
	display: inline-block;
	color: #fff;
	background-color: #df4a00;
}

.known-issue h1 {
	font-size: 20px;
}

.known-issue p {
	margin-top: 5px;
}

/* New Item pages */
.submit-wrapper {
	text-align: center;
	margin-top: 30px;
}
/* New Item pages */

.page-body {
	background-color: #fff;
	background-color: #f1f1f2;
}

@media print {
	.page-body {
		background-color: transparent;
	}
}

.section-to-print {
	/* max-width: 100%; */
}

.page-a4, .page-a4-landscape {
	font-size: 30px;
	overflow: hidden;
	width: 21cm;
	height: 29.7cm;
	margin: auto;
	margin: 40px auto !important;
	padding: 1.5cm 1cm;
	box-sizing: border-box;
	background-color: #fff;
	/* box-shadow: 0 5px 50px rgba(0,0,0,.1); */
	border: 1px solid #dfdfdf;
	border-radius: 15px;
	page-break-after: always;
	overflow: hidden;
	/* border: 5px solid black; */
	transition: box-shadow .2s ease;
}

.page-a4:hover, .page-a4-landscape:hover {
	/* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
}

.page-a4-landscape {
	width: 29.7cm;
	height: 20.98cm;
}

.page-adjustable {
	font-size: 30px;
}

.page-contents {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* Print Area */
@media print {
	body * {
		visibility: hidden !important;
		margin: 0;
		padding: 0;
	}
	.section-to-print, .section-to-print * {
		visibility: visible !important;
	}
	.section-to-print {
		zoom: 0;
		position: absolute !important;
		width: 100% !important;
		left: 0 !important;
		top: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.section-not-to-print * {
		display: none;
	}

	.section-to-print .section-not-to-print * {
		display: none;
	}

	.section-to-print .section-not-to-print {
		display: none;
	}

	.page-a4, .page-a4-landscape {
		overflow: hidden;
		width: 210mm !important;
		height: 297mm !important;
		margin: 0 !important;
		/* padding: 0 !important; */
		box-shadow: none;
		page-break-after: always;
		border: none;
	}
	.page-a4-landscape {
		width: 29.7cm !important;
		height: 20.98cm !important;
		/* border: 4px solid black; */
		box-sizing: border-box;
	}
	.page-a4 *, .page-a4-landscape * {
		visibility: visible !important;
	}
}

@page {
	margin: 0;
	/* size: 29.7cm 21cm */
}

/* page font size handler */
.adjust-page-font-size {
	position: fixed;
	right: 20px;
	bottom: 80px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.2);
	padding: 10px;
	text-align: center;
	opacity: .5;
	transition: opacity .2s ease;
}

.adjust-page-font-size:hover {
	opacity: 1;
}

#page-font-header {
	font-size: 15px;
	margin-bottom: 10px;
	user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
	background: transparent;
	width: 8px;
	height: 8px;
	background: #eeeeee;
	opacity: 0;
}

::-webkit-scrollbar-thumb {
	background: #bebebe;
	border-radius: 0px;
	/* visibility: hidden; */
}

::-webkit-scrollbar-thumb:active {
	background: #9c9c9c;
}

::-webkit-scrollbar-track {
	background: #ececec;
}

/* Cross button */
.cross-button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #ff1d1d;
	position: relative;
	transition: all .2s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cross-button .cross {
	position: absolute;
	width: 50%;
	height: 11%;
	background-color: #fff;
	border-radius: 50px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.cross-button .cross.left-down {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cross-button.add .cross.left-down {
	transform: translateX(-50%) translateY(-50%);
}

.cross-button .cross.right-down {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cross-button.add .cross.right-down {
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

/* 로딩 바 */
@keyframes loading-bar {
	0% {
		transform: translateX(-30%);
	}
	100% {
		transform: translateX(100%)
	}
}
.loading-bar {
	width: 100%;
	/* max-width: 200px; */
	height: 2px;
	display: flex;
	align-items: center;
	position: relative;
	margin: auto;
	overflow: hidden;
	border-radius: 50px;
}

.loading-bar .wrapper {
	transform: translateX(-30%);
	width: 100%;
	height: 2px;
	animation-name: loading-bar;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.loading-bar .wrapper .moving-part {
	width: 30%;
	height: 100%;
	background-color: #252527;
	border-radius: 50px;
}

.loading-bar.light .wrapper .moving-part {
	background-color: #ececf1;
}