/* 
 * Nanum Gothic (Korean) http://www.google.com/fonts/NanumGothic/earlyaccess
 */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NanumGothic/NanumGothic-Regular.eot);
    src: url(/fonts/NanumGothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(/fonts/NanumGothic/NanumGothic-Regular.woff2) format('woff2'), url(/fonts/NanumGothic/NanumGothic-Regular.woff) format('woff'), url(/fonts/NanumGothic/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NanumGothic/NanumGothic-Bold.eot);
    src: url(/fonts/NanumGothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(/fonts/NanumGothic/NanumGothic-Bold.woff2) format('woff2'), url(/fonts/NanumGothic/NanumGothic-Bold.woff) format('woff'), url(/fonts/NanumGothic/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(/fonts/NanumGothic/NanumGothic-ExtraBold.eot);
    src: url(/fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'), url(/fonts/NanumGothic/NanumGothic-ExtraBold.woff2) format('woff2'), url(/fonts/NanumGothic/NanumGothic-ExtraBold.woff) format('woff'), url(/fonts/NanumGothic/NanumGothic-ExtraBold.ttf) format('truetype');
}

