.color {
	color: #c7c7c7; /* dimmed white text */
	color: #202025; /* dark bg */
	color: #151518; /* more dark bg */
	color: #4d4d52; /* highlight bg */
	color: #36353c; /* highlight dark bg */
}