.pass-input {
	width: 180px;
	text-align: center;
	border: none;
	background-color: #fff;
	padding: 10px;
	font-size: 15px;
	border-radius: 50px;
	transform: translateX(0px);
	transition: all .1s linear;
}

.pass-input.shake {
	animation: shake;
	animation-duration: 0.35s;
	/* box-shadow: 0 0 0 5px red; */
	background-color: red;
	color: #fff;
}

@keyframes shake {
	0% {
		transform: translateX(0px);
	}
	16% {
		transform: translateX(20px);
	}
	32% {
		transform: translateX(-15px);
	}
	48% {
		transform: translateX(10px);
	}
	64% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}
